<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid h-30">
    <%= link_to "#", class: "navbar-brand" do %>
      <%= image_tag "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTwc7ydFE1mQgADVYt1kGx89OfZYArFccguWg&usqp=CAU" %>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <%# if user_signed_in? %>
          <li class="nav-item active">
            <%= link_to "My List", "#", class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "New List", "#", class: "nav-link" %>
          </li>
      </ul>
    </div>
  </div>
</div>

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://pyxis.nymag.com/v1/imgs/978/4d0/4b4779e1dcb86984abe55c08366f9babe7-13-empty-theater.rhorizontal.w700.jpg);">
  <div class="container">
    <h1>Classic movies</h1>
  </div>
</div>

<div class="container mt-5 d-flex flex-row bd-highlight mb-3  mx-auto my-auto">
  <% @movies.each do |movie|%>
     <% movie_bookmarks = movie.bookmarks.where(list_id: @list) %>
     <% movie_bookmarks.each do |bookmark| %>
    <div class="card m-1" style="width: 18rem;">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title"><%= movie.title %></h5>
        <p class="card-text"><%= movie.overview %></p>
          <%= link_to "Delete", bookmark_path(bookmark),
                      data: { turbo_method: :delete, turbo_confirm: "Are you sure?" },
                      class: "btn btn-danger" %>

        <%# <p class="card-text">Some quic and make up the bulk of the card's content.</p> %>
        <%# <a href="#" class="btn btn-primary">Go somewhere</a> %>
      </div>
    </div>
    <% end %>
  <% end %>
</div>
